@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

body {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 80%;
  font-family: 'Montserrat', sans-serif;
  background-color: #19181A;
}

.wrapper {
  margin-top: 6rem;
}

h1 {
  color: #CEBC81;
  text-align: center;
  font-weight: 200;
  font-size: 4.5rem;
  text-transform: uppercase;
}

textarea {
  padding: .2rem .5rem;
  width: 100%;
  height: 15rem;
}

button:focus,
textarea:focus {
  outline: none;
}

.controls {
  display: flex;
  justify-content: space-around;
}

button {
  margin-top: 1.5rem;
  padding: .7rem 1rem;
  border: none;
  border-radius: 0.3rem;
  background-color: #479761;
  font-size: 0.8rem;
  text-transform: uppercase;
  cursor: pointer;
}

button:active {
  transform: scale(1.02);
}
