body {
    font-family: sans-serif, Arial;
}

.container {
    width: 80%;
    margin: 5rem auto;
}

.content {
    width: 40rem;
    margin: 0 auto;
}

.text {
    position: relative;
}

h1 {
    text-align: center;
    color: #48444D;
    font-size: 2.5rem;
}

textarea {
    width: 100%;
    height: 13rem;
    padding: 0.5rem;
}

.controls {
    display: flex;
    justify-content: space-between;
}

button {
    margin-top: 1rem;
    padding: 0.7rem;
    background-color: #5661B3;
    color: white;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
}

button:active {
    transform: translateY(1px);
}

.copy {
    position: absolute;
    right: -4.5rem;
    top: 0.4rem;
    padding: 0.3rem;
    cursor: pointer;
    font-size: .9rem;
    border-radius: 0.3rem;
    background-color: #DAE1E7;
}

.copy:hover {
    background-color: #606F7B;
    color: white;
    border-radius: 0.3rem;
}

.copy:active {
    transform: translateY(1px);
}
