body {
  font-family: sans-serif;
  color: #333;
}

h1 {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-width: 30rem;
  margin: 0 auto;
}

.container > a {
  display: inline-block;
  padding: 1rem;
  border-radius: 4px;
  margin-bottom: 0.5em;
  background-color: lightblue;
  color: #333;
  text-decoration: none;
}
