@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

body {
  font-family: 'Inconsolata', monospace;
}

h1 {
  text-align: center;
  margin: 3rem 0;
}

.text-container {
  width: 60%;
  margin: 0 auto;
  font-size: 1.7rem;
}

.active {
  border-bottom: 2px solid black;
}

.error {
  color: red;
}

.statistics > div {
  width: 20rem;
  margin: 2rem auto;
  text-align: center;
}
