@import url('https://fonts.googleapis.com/css2?family=Turret+Road:wght@200;400&display=swap');

body {
  font-family: 'Turret Road', cursive;
  font-size: 2rem;
}

h1 {
  font-weight: 200;
  font-size: 8rem;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
}

.container > div {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

#todo {
  font-size: 3rem;
  border-bottom: 2px solid gray;
}

#todo:focus {
  background-color: lavender;
}

button {
  margin-top: 0.5rem;
  border: none;
  background-color: #fff;
  font-family: inherit;
  font-size: 1.5rem;
  text-align: left;
}

button:hover {
  cursor: pointer;
  font-weight: bold;
}

button:focus {
  outline: none;
}

input {
  padding: 0.3rem;
  border: none;
  font-family: inherit;
  font-size: inherit;
}

input[type="checkbox"] {
  transform: scale(1.8);
  cursor: pointer;
}

input:focus {
  outline: none;
}

.todo-item {
  width: 35rem;
}

.todo-item > input[type="text"] {
  width: 90%;
}

.todo-item > input:focus {
  background-color: lavender;
}
