@import url('https://fonts.googleapis.com/css2?family=Turret+Road:wght@200;400&display=swap');

body {
  font-family: 'Turret Road', cursive;
  font-size: 2rem;
}

h1 {
  font-size: 8rem;
  text-align: center;
  font-weight: 200;
}

.wrapper {
  max-width: 40rem;
  margin: 0 auto;
}

#todo {
  width: 100%;
  border-bottom: 2px solid gray;
  font-size: 3rem;
}

#todo:focus {
  background-color: lavender;
}

.todo-list {
  margin-top: 1rem;
}

button {
  margin-top: .5rem;
  border: none;
  background-color: #fff;
  font-family: inherit;
  font-size: 1.5rem;
  text-align: left;
}

button:hover {
  font-weight: bold;
  cursor: pointer;
}

button:focus {
  outline: none;
}

button:active {
  transform: translateY(1px);
}

input {
  border: none;
  padding: .3rem;
  font-family: inherit;
  font-size: inherit;
}

input[type="checkbox"] {
  transform: scale(1.8);
  cursor: pointer;
}

input:focus {
  outline: none;
}

.todo-item > input[type="text"] {
  width: 93%;
}

.todo-item > input:focus {
  background-color: lavender;
}
