@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

body {
  background-color: #EEE2DC;
  font-family: 'Orbitron', sans-serif;
  text-align: center;
}

h1 {
  margin-top: 4rem;
  color: #AC3B61;
  font-size: 3.5rem;
  text-transform: uppercase;
}

textarea {
  width: 35rem;
  height: 15rem;
  border: 1px solid #123C69;
  border-radius: 3px;
  padding: 0.5rem;
  color: #123C69;
}

button:focus,
textarea:focus {
  outline: none;
}

.buttons-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

button {
  margin: 0 2rem;
  border: 1px solid #123C69;
  border-radius: 2px;
  padding: 1rem;
  background-color: #123C69;
  color: #EEE2DC;
  font-size: 0.8rem;
  font-family: inherit;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}

button:active {
  transform: scale(1.01);
}
