@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

:root {
  --primary: #844d36;
  --secondary: #AAA0A0;
  --background: #474853;
}

body {
  margin: 0;
  font-family: 'Syne Mono', monospace;
  background-color: var(--background);
}

.container {
  width: 50%;
  margin: 4rem auto;
  text-align: center;
}

.container > h1 {
  font-size: 5rem;
  color: var(--secondary);
  text-transform: uppercase;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  cursor: pointer;
}

img:active {
  transform: scale(1.01, 1.01);
}

.btn {
  display: inline-block;
  padding: 1rem;
  border: none;
  border-radius: 3px;
  margin: 4px 2px;
  background-color: var(--primary);
  color: var(--secondary);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-family: inherit;
  font-size: 1rem;
  cursor: pointer;
}

.btn:active {
  transform: translateY(1px);
}

.btn:focus {
  outline: none;
}

#message {
  margin-top: 0.7em;
  color: var(--secondary);
}

h2 {
  margin-bottom: 0.2em;
  color: var(--secondary);
  font-size: 2rem;
}

#inventory {
  color: var(--secondary);
  font-size: 1.2rem;
}

.instructions {
  max-width: 25rem;
  margin: 0 auto;
  color: #8E8268;
  /* font-size: 0.9rem; */
}

.instructions > h3 {
  margin-top: 3rem;
  margin-bottom: 0.3rem;
}

.instructions > p {
  margin-top: 0;
}
