@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
  box-sizing: border-box;
}

body {
  color: #240b36;
  font-family: 'Poppins', sans-serif;
  margin: 0 auto 2rem;
  max-width: 50rem;
  width: 90%;
  background-color: #E6E9EF;
}

h1 {
  margin: 1rem;
  text-align: center;
  font-size: 5rem;
  font-weight: 200;
  text-transform: uppercase;
}

body > p {
  text-align: center;
  font-size: .9rem;
}

textarea {
  display: block;
  margin: 1.7rem auto 0;
  border: 1px solid #240b36;
  border-radius: .2rem;
  width: 80%;
  min-height: 10rem;
  padding: .5rem;
  background-color: #F3F4F8;
  color: #240b36;
  font-family: inherit;
  font-size: .9rem;
  resize: none;
}

textarea:focus {
  outline: none;
}

blockquote {
  margin: 1.5rem 0 0 0;
  padding: 0.5rem;
  background-color: rgba(36, 11, 54, 0.9);
  border-radius: 0.2rem;
  color: white;
}

blockquote p {
  margin: 0;
  font-size: 0.9rem;
  font-weight: 200;
  letter-spacing: .5px;
}

blockquote footer {
  font-size: 0.8rem;
  font-weight: 200;
}

a:link, a:visited {
  color: #240b36;
}

a:hover, a:active {
  color: #c31432;
}

#submit {
  display: block;
  margin: .5rem auto;
  border: 0;
  border-radius: 0.4rem;
  padding: 0.7rem 1rem;
  background: #240b36;
  color: #f4eafb;
  font-size: 0.8rem;
  text-transform: uppercase;
}

#submit:hover {
  cursor: pointer;
}

#submit:active {
    transform: scale(1.01);
}

#submit:focus {
  outline: none;
}
