@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #0D1117;
  color: #8B949E;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}

header {
  height: 62px;
  background-color: #161B22;
  text-align: center;
  line-height: 62px;
}

.logo-github {
  position: relative;
  top: .25rem;
  margin-right: .3rem;
}

.search-input {
  width: 20rem;
  height: 28px;
  border: 1px solid #232324;
  border-radius: 5px;
  padding: 0 10px;
  background-color: #0D1117;
  color: #C9D1D9;
  font-family: inherit;
}

.search-input:focus {
  outline: none !important;
  border-color: #388BFD;
}

.search-button {
  margin-left: .3rem;
  width: 5rem;
  height: 28px;
  border: 1px solid #30363D;
  border-radius: 5px;
  background-color: #21262D;
  color: #C9D1D9;
  font-family: inherit;
}

.search-button:hover {
  border-color: #8B949E;
  background-color: #30363D;
  cursor: pointer;
}

.search-button:active {
  background-color: #21262D;
}

.search-button:focus-visible {
  outline: none;
  border-color: #8B949E;
  background-color: #30363D
}

main {
  display: flex;
  margin: 2rem auto;
  max-width: 80rem;
}

/* User info */
.user-info {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin: 0 1rem;
}

.avatar {
  max-width: 90%;
  border-radius: 50%;
  margin: 0 auto;
}

.user-name {
  color: #C9D1D9;
  font-size: 2rem;
}

.user-nickname {
  font-size: 1.3rem;
  font-weight: 300;
}

.bio {
  margin-top: 1rem;
  color: #C9D1D9;
  font-size: 1rem;
}

.wrapper-follow {
  margin: 1rem 0 .3rem;
}

.followers,
.following {
  color: inherit;
  text-decoration: none;
}

.followers:hover,
.following:hover {
  color: #58A6FF;
}

.number-followers,
.number-following {
  color: #C9D1D9;
}

/* Repositories */
.repositories {
  width: 80%;
  margin: 0 1rem;
}

.repo-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: .2px solid #232324;
  padding: 1.5rem;
}

.repo-info:first-child {
  border-top: .2px solid #232324;
}

.repo-link {
  display: inline-block;
  color: #58A6FF;
  text-decoration: none;
}

.repo-link:hover {
  text-decoration: underline;
}

.repo-name {
  font-size: 1.25rem;
}

.repo-description {
  margin-top: .5rem;
}

.repo-language {
  margin-top: 1rem;
}

/* Mobile Responsive */
@media (max-width: 48rem) {
  main {
    flex-direction: column;
  }

  .avatar {
    width: 50%;
    margin: 0 auto;
  }

  .user-info {
    width: 70%;
    margin: 0 auto 1rem;
  }

  .repositories {
    margin: 0 auto;
  }
}
