* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #24282F;
  color: #F5F5F5;
}

h2 {
  margin: 0;
}

.title {
  text-align: center;
  /* text-transform: uppercase; */
  font-size: 3.5rem;
  letter-spacing: 3px;
}

.search-input {
  display: block;
  margin: 0 auto 2rem;
  width: 20rem;
  height: 2rem;
  border: 1px solid #232324;
  border-radius: 5px;
  padding: 0 10px;
  background-color: #16191d;
  color: #C9D1D9;
  font-family: inherit;
}

.search-input:focus {
  outline: none !important;
  border-color: #3C3E44;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 80rem;
}

.card {
  display: flex;
  height: 13.75rem;
  margin: .85rem;
}

.section {
  display: flex;
  flex-direction: column;
}

.card-image img {
  width: 13.75rem;
  height: 100%;
  border-radius: 7px 0 0 7px;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 23rem;
  border-radius: 0 7px 7px 0;
  padding: .85rem;
  background-color: #3C3E44;
}

.name {
  font-size: 1.67rem;
}

.status-icon {
  position: relative;
  top: -3px;
  display: inline-block;
  height: 0.5rem;
  width: 0.5rem;
  margin-right: 0.2rem;
  border-radius: 50%;
  background-color: #888;
}

.alive {
  background-color: #55CC44;
}

.dead {
  background-color: #d63d2e;
}

.text-gray {
  color: #9e9e9e;
}

.location,
.origin {
  font-size: 18px;
}

/* loader */
.loader {
  content: " ";
  display: none;
  width: 64px;
  height: 64px;
  margin: 2rem auto;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
.show {
  display: block;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
