body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  margin: 0;
  background-color: #F3F3F3;
  color: #3C1874;
  font-size: 1.2rem;
  font-family: sans-serif;
}

h1 {
  margin-bottom: 0;
  color: #DE354C;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border: 1px solid #3C1874;
  border-radius: 5px;
}

.field {
  display: inline-block;
  min-width: 15rem;
  margin-top: 2rem;
  margin-bottom: 0.3rem;
}

.field label {
  display: inline-block;
  width: 6rem;
}

.field input {
  padding: 0.3rem;
  border: 1px solid #283747;
  border-radius: 5px;
  font-size: inherit;
}

input:focus {
  outline: none;
}

#notification {
  margin-top: 0.3rem;
  color: #932432;
  font-size: 1rem;
}
