body {
  margin: 0;
  background-color: #0d0d0d;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 100vh;
  max-width: 80rem;
  margin: 0 auto;
}

input {
  background-color: #0d0d0d;
  border: none;
  border-bottom: solid 0.1em #a7ecb7;
  color: #a7ecb7;
  font-size: 7rem;
  margin: 2rem;
}

input:focus {
  outline: none;
}

input::selection {
  background-color: #dff5e4;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

