@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #0d0d0d;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
}

#timer {
  position: relative;
  top: -6rem;
  color: #a7ecb7;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 13rem;
}

button {
  border: none;
  border-radius: 50%;
  padding: 1rem;
  display: inline-block;
  width: 7rem;
  height: 7rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.controls > div {
  position: relative;
}

.controls {
  display: flex;
  justify-content: space-evenly;
  width: 30rem;
  margin: 0 auto;
}

#start {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #7574a5;
}

#pause {
  position: absolute;
  top: 0;
  left: 0;
}

#start:disabled {
  color: gray;
  cursor: auto;
}

#reset:disabled {
  color: gray;
  cursor: auto;
}

.edit {
  position: relative;
  top: 5rem;
  display: flex;
  justify-content: center;
}

.edit > div {
  display: flex;
  flex-direction: column;
  margin: 0.2rem;
}

.edit > div > span {
  color: #bbb;
  font-size: 0.8rem;
}

input {
  border: none;
  border-bottom: 1px solid #bbb;
  background-color: inherit;
  color: #bbb;
  font-size: 2rem;
  text-align: center;
}

input:focus {
  outline: none;
}

input::selection {
  background-color: silver;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
