@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

:root {
  --primary: #F1D5CB;
  --secondary: #FEBCB6;
  --background: #3A3234;
  --disable: white;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--background);
  font-family: sans-serif;
}

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  text-align: center;
}

#timer {
  position: relative;
  margin: 3rem 0;
  color: var(--primary);
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 13rem;
}

button {
  display: inline-block;
  width: 7rem;
  height: 7rem;
  border: none;
  border-radius: 50%;
  padding: 1rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.controls > div {
  position: relative;
}

.controls {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  width: 30rem;
}

#start {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: var(--secondary);
}

#pause {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ACA4B8;
}

#start:disabled,
#reset:disabled {
  color: silver;
  background-color: var(--disable);
  cursor: auto;
}

.edit {
  position: relative;
  top: 5rem;
  display: flex;
  justify-content: center;
}

.edit > div {
  display: flex;
  flex-direction: column;
  margin: 0.2rem;
}

.edit > div > span {
  color: #bbb;
  font-size: 0.8rem;
}

input {
  border: none;
  border-bottom: 1px solid #bbb;
  background-color: inherit;
  color: var(--primary);
  font-size: 2rem;
  text-align: center;
}

input:focus {
  outline: none;
}

input::selection {
  background-color: gray;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
