@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #121212;
  font-family: 'Lato', sans-serif;
  color: #9B9B9B;
  font-size: 14px;
}

h1 {
  color: #D9D9D9;
  text-align: center;
  font-size: 2rem;
  margin: 2rem;
}

.search-input {
  display: block;
  margin: 2rem auto;
  width: 20rem;
  height: 2rem;
  border: 1px solid #636363;
  border-radius: 4px;
  padding-left: .5rem;
  background-color: #0d0d0d;
  color: #D9D9D9;
  font-family: inherit;
}

.search-input:focus {
  outline: none !important;
  border-color: #8dc647;
}

table {
  margin: 0 auto;
  width: 90%;
  max-width: 80rem;
  border-collapse: collapse;
}

th {
  height: 2.8rem;
  padding-right: .3rem;
  background-color: #343A40;
}

td {
  height: 3.8rem;
  border-top: 1px solid #636363;
  border-bottom: 1px solid #636363;
}

.coin-image {
  position: relative;
  top: .2rem;
  margin-right: .5rem;
  width: 1rem;
}

.coin-name {
  color: #D9D9D9;
  text-decoration: none;
}

.coin-name:hover {
  text-decoration: underline;
}

.symbol {
  color: #9B9B9B;
  font-size: .7rem;
  padding-left: .5rem;
  text-transform: uppercase;
}

.price {
  text-align: right;
}

.price-change {
  text-align: right;
}

.price-change-percentage {
  text-align: right;
}

.volume {
  text-align: right;
}

.market-cap {
  text-align: right;
  padding-right: .3rem;
}

.positive-percentage {
  color: #8dc647;
}

.negative-percentage {
  color: #E15241;
}

.left {
  text-align: left;
  padding-left: .5rem;
}
